<a href="https://colab.research.google.com/github/memetics19/WIDS2020/blob/master/Wids2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import xgboost as xgb
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder,OneHotEncoder


data = pd.read_csv('data.csv')

In [57]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
data=data.dropna(axis=0)

In [0]:
x=data.drop(['encounter_id','height','weight','hospital_death','patient_id','hospital_id'],axis=1)
y=data['hospital_death']

In [60]:
X=data.iloc[:,3:].values
print(X)
Y=data.iloc[:].values
print(Y)

[[67.         28.14629137  0.         ...  0.          0.
   1.        ]
 [63.         30.70657029  1.         ...  0.          0.
   0.        ]
 [42.         27.92975528  0.         ...  0.          0.
   1.        ]
 ...
 [57.         29.63927593  0.         ...  0.          0.
   0.        ]
 [64.         22.96535205  0.         ...  0.          0.
   0.        ]
 [80.         39.0625      0.         ...  0.          0.
   0.        ]]
[[8.04430e+04 9.93000e+03 8.90000e+01 ... 0.00000e+00 0.00000e+00
  1.00000e+00]
 [1.11879e+05 3.19760e+04 8.90000e+01 ... 0.00000e+00 0.00000e+00
  0.00000e+00]
 [1.09281e+05 1.20846e+05 8.90000e+01 ... 0.00000e+00 0.00000e+00
  1.00000e+00]
 ...
 [1.30877e+05 3.43260e+04 1.86000e+02 ... 0.00000e+00 0.00000e+00
  0.00000e+00]
 [5.07800e+04 1.20673e+05 1.00000e+02 ... 0.00000e+00 0.00000e+00
  0.00000e+00]
 [4.59600e+04 1.16666e+05 1.00000e+02 ... 0.00000e+00 0.00000e+00
  0.00000e+00]]

In [61]:
data.tail()

       encounter_id  patient_id  ...  apache_2_bodysystem_UD  hospital_death
41606         19029       18427  ...                     0.0             0.0
41618         36741       66907  ...                     0.0             0.0
41620        130877       34326  ...                     0.0             0.0
41834         50780      120673  ...                     0.0             0.0
41934         45960      116666  ...                     0.0             0.0

[5 rows x 244 columns]