<a href="https://colab.research.google.com/github/memetics19/WIDS2020/blob/master/Wids2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import xgboost as xgb
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV


data = pd.read_csv('data.csv')

In [0]:
data=data.dropna(axis=0)

In [0]:
x=data.drop(['encounter_id','hospital_death','hospital_id','icu_id','patient_id'],axis=1)
y=data['hospital_death']

In [443]:
data.tail()

       encounter_id  patient_id  ...  apache_2_bodysystem_UD  hospital_death
50649        124931       37603  ...                       0               1
51742         92585       38768  ...                       0               1
52032        126740      108681  ...                       0               0
90283          5574      106534  ...                       0               0
90317          7654       20929  ...                       0               0

[5 rows x 244 columns]

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [445]:

model=xgb.XGBClassifier(learning_rate =0.5,
 n_estimators=2000,
 max_depth=5,
 min_child_weight=1,
 gamma=0,
 subsample=0.8,
 colsample_bytree=0.8,
 objective= 'binary:logistic',
 nthread=8,
 scale_pos_weight=1,
 seed=27)

model=model.fit(x_train,y_train)
model=model.score(x_test,y_test)

param_test1 = {
 'max_depth':range(5,10,1),
 'min_child_weight':range(3,6,5)
}

gridsearch1=GridSearchCV


print(model)

0.7272727272727273